<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.shopping.board.BoardMapper">

    <insert id="insBoard">
        INSERT INTO t_board_list
        (icategory, iuser, title, ctnt)
        VALUES
        (${icategory}, ${iuser}, #{title}, #{ctnt})
    </insert>

    <select id="selBoardList" resultType="BoardListVo">
        SELECT A.iboard, A.title, B.nm AS writerNm
        FROM t_board_list A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE A.icategory = ${icategory}
        ORDER BY iboard DESC
        LIMIT ${page}, ${amount}
    </select>

    <!-- 게시물 총 갯수 -->
    <select id="getBoardTotal" resultType="int">
        SELECT COUNT(*) FROM t_board_list
        WHERE icategory = ${icategory}
        ORDER BY iboard DESC
    </select>

    <select id="selBoardDetail" resultType="BoardListVo">
        SELECT A.iboard, A.icategory, A.title, A.ctnt, A.iuser, A.rdt
             , B.nm AS writerNm
        FROM t_board_list A
        LEFT JOIN t_user B
        ON A.iuser = B.iuser
        WHERE iboard = ${iboard}
    </select>

    <select id="selPrevNext" resultType="BoardPrevNextVo">
        <![CDATA[
        SELECT
        IFNULL(
                (
                    SELECT iboard
                    FROM t_board_list
                    WHERE icategory = ${icategory}
                    AND iboard > ${iboard}
                    ORDER BY iboard
                    LIMIT 1
                ), 0
                ) AS previboard,

        IFNULL(
                 (
                    SELECT iboard
                    FROM t_board_list
                    WHERE icategory = ${icategory}
                    AND iboard < ${iboard}
                    ORDER BY iboard DESC
                    LIMIT 1
                    ) , 0
                )AS nextiboard
        ]]>
    </select>


    <select id="searchBoardList" resultType="BoardListDto">
        SELECT A.*, B.nm AS writerNm
        FROM t_board_list A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
            <if test=" searchType == 1">
                WHERE A.title LIKE '%${searchText}%'
            </if>
            <if test=" searchType == 2">
                WHERE A.ctnt LIKE '%${searchText}%'
            </if>
            <if test=" searchType == 3">
                WHERE B.nm LIKE '%${searchText}%'
            </if>
        AND icategory = ${icategory}
        ORDER BY iboard DESC
        LIMIT ${page}, ${amount}
    </select>

    <select id="getSearchTotal" resultType="int">
        SELECT COUNT(*)
        FROM t_board_list A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        <if test=" searchType == 1">
            WHERE A.title LIKE '%${searchText}%'
        </if>
        <if test=" searchType == 2">
            WHERE A.ctnt LIKE '%${searchText}%'
        </if>
        <if test=" searchType == 3">
            WHERE B.nm LIKE '%${searchText}%'
        </if>
        AND icategory = ${icategory}
    </select>

    <select id="selReview" resultType="UserReviewDto">
        SELECT A.iboard, A.ireview, B.nm AS writerNm
        FROM t_user_review A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
    </select>

    <select id="selBoardReview" resultType="UserReviewVo">
        SELECT A.tall, A.weight, A.rating, A.ctnt,
               B.uid,
               C.img_url_big, C.title,
               D.color,
               F.sm, F.md, F.lg, F.xl
        FROM t_user_review A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        INNER JOIN product_list C
        ON A.iboard = C.iboard
        INNER JOIN product_detail D
        ON A.idetail = D.idetail
        INNER JOIN purchased F
        ON A.ipurchased = F.ipurchased
        WHERE A.iboard = ${iboard}
        ORDER BY rdt DESC
    </select>

<!--    /*별점 평균*/-->
    <select id="selRating" resultType="double">
        SELECT IFNULL (ROUND (  AVG( rating ),1 ),0)  FROM t_user_review
        WHERE iboard = ${iboard};
    </select>

    <!--리뷰 노가다-->

    <!--0-->
    <!--0-4-->
    <select id="cntAnswer0_4" resultType="int">
        SELECT IFNULL (COUNT(answer0), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer0 = 4
    </select>
    <!--0-5-->
    <select id="cntAnswer0_5" resultType="int">
        SELECT  IFNULL (COUNT(answer0), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer0 = 5
    </select>
    <!--0-6-->
    <select id="cntAnswer0_6" resultType="int">
        SELECT IFNULL (COUNT(answer0), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer0 = 6
    </select>

    <select id="cntAnswer1_7" resultType="int">
        SELECT IFNULL (COUNT(answer1), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer1 = 7
    </select>
    <!--0-5-->
    <select id="cntAnswer1_8" resultType="int">
        SELECT IFNULL (COUNT(answer1), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer1 = 8
    </select>
    <!--0-6-->
    <select id="cntAnswer1_9" resultType="int">
        SELECT IFNULL (COUNT(answer1), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer1 = 9
    </select>

    <select id="cntAnswer2_10" resultType="int">
        SELECT IFNULL (COUNT(answer2), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer2 = 10
    </select>
    <!--0-5-->
    <select id="cntAnswer2_11" resultType="int">
        SELECT IFNULL (COUNT(answer2), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer2 = 11
    </select>
    <!--0-6-->
    <select id="cntAnswer2_12" resultType="int">
        SELECT IFNULL (COUNT(answer2), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer2 = 12
    </select>

    <select id="cntAnswer3_13" resultType="int">
        SELECT IFNULL (COUNT(answer3), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer3 = 13
    </select>
    <!--0-5-->
    <select id="cntAnswer3_14" resultType="int">
        SELECT IFNULL (COUNT(answer3), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer3 = 14
    </select>
    <!--0-6-->
    <select id="cntAnswer3_15" resultType="int">
        SELECT IFNULL (COUNT(answer3), 0) FROM t_user_review
        WHERE iboard = ${iboard}
          AND answer3 = 15
    </select>
    <!--0-->
<!--    &lt;!&ndash;0-7&ndash;&gt;-->
<!--    <select id="cntAnswer0_7" resultType="int">-->
<!--        SELECT COUNT(answer0) FROM t_user_review-->
<!--        WHERE iboard = ${iboard}-->
<!--          AND answer0 = 7-->
<!--    </select>-->



    <!--모든 리뷰 갯수-->
    <select id="cntAllAnswer" resultType="int">
        SELECT IFNULL (COUNT(*),0)  FROM t_user_review
        WHERE iboard = ${iboard}
    </select>
    <!--모든 리뷰 갯수-->


    <update id="updBoard">
        UPDATE t_board_list
        <set>
            <if test=" title != null and title != '' ">
                title = #{title},
            </if>
            <if test=" ctnt != null and ctnt != '' ">
                ctnt = #{ctnt},
            </if>
        </set>
        WHERE iboard = ${iboard}
        AND iuser = ${iuser}
    </update>

    <delete id="delBoard">
        DELETE FROM t_board_list
        WHERE iboard = ${iboard}
        AND iuser = ${iuser}
    </delete>
</mapper>