<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.shopping.board.BoardMapper">
    <select id="selProductList" resultType="BoardProductDto">
        SELECT *
        FROM product_list
        WHERE category_num = ${isubcategory}
    </select>

    <select id="selProductListRecord" resultType="BoardProductVo">
        SELECT *
        FROM product_list
        WHERE iboard = ${iboard}
        ORDER BY iboard DESC
    </select>

    <select id="selProductDetail" resultType="BoardProductVo">
        SELECT *
        FROM product_list A
        INNER JOIN t_board_sub_category B
        ON A.category_num = B.isubcategory
        WHERE iboard = ${iboard}
    </select>

    <select id="selDetailList" resultType="BoardProductVo">
        SELECT *
        FROM product_list A
        INNER JOIN product_detail B
        ON A.iboard = B.iboard
        WHERE A.iboard = ${iboard}
    </select>

    <select id="selSize" resultType="BoardProductVo">
        SELECT *
        FROM product_list A
        INNER JOIN product_detail B
        ON A.iboard = B.iboard
        WHERE A.iboard = ${iboard} AND B.color = ${color}
    </select>

    <update id="updProductDetail">
        UPDATE product_detail
        <if test=" sm != null and sm !=0 ">
            SET sm = sm - ${sm}
        </if>
        <if test=" md != null and md !=0 ">
            SET md = md - ${md}
        </if>
        <if test=" lg != null and lg !=0 ">
            SET lg = lg - ${lg}
        </if>
        <if test=" xl != null and xl !=0 ">
            SET xl = xl - ${xl}
        </if>
        WHERE iboard = ${iboard} AND color = ${color}
    </update>

    <insert id="insCart">
        insert into cart(iboard, uid, color,
        <if test=" sm != null and sm !=0 ">
            sm
        </if>
        <if test=" md != null and md !=0 ">
            md
        </if>
        <if test=" lg != null and lg !=0 ">
            lg
        </if>
        <if test=" xl != null and xl !=0 ">
            xl
        </if> )
        VALUES (${iboard}, #{uid}, ${color},
        <if test=" sm != null and sm !=0 ">
        ${sm}
        </if>
        <if test=" md != null and md !=0 ">
        ${md}
        </if>
        <if test=" lg != null and lg !=0 ">
        ${lg}
        </if>
        <if test=" xl != null and xl !=0 ">
        ${xl}
        </if> )
    </insert>

    <select id="selCart" resultType="BoardProductVo">
        SELECT A.uid, A.sm, A.md, A.lg, A.xl, A.color, A.iboard, B.iuser, C.img_url_big, C.title, C.price
        FROM cart A
        INNER JOIN t_user B
        ON A.uid = B.uid
        INNER JOIN product_list C
        ON A.iboard = C.iboard
        WHERE B.iuser = ${iuser}
    </select>

    <select id="searchProductList" resultType="BoardProductEntity">
        SELECT * FROM product_list
        WHERE title LIKE '%${title}%'
        ORDER BY iboard DESC
    </select>
</mapper>