<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.shopping.user.UserMapper">

    <insert id="insUser">
        INSERT INTO t_user
        (
             uid, upw, nm, firsthnum, secondhnum, thirdhnum, firstph
            , secondph, thirdph, social, post_num, load_nm, lot_addr
            , detail_addr, ref, gender, email, birth, location, recommendation
            , email_agree_flag, sms_agree_flag
        )
        VALUES
        (
             #{uid}, #{upw}, #{nm}, #{firsthnum}, #{secondhnum}, #{thirdhnum}
             , #{firstph}, #{secondph}, #{thirdph}, #{social}, #{post_num}, #{load_nm}
             , #{lot_addr} , #{detail_addr}, #{ref}, ${gender}, #{email}, #{birth}
             , #{location}, #{recommendation}, #{email_agree_flag}, #{sms_agree_flag}
         )
    </insert>

    <insert id="insReview">
        INSERT INTO t_user_review
        (
            iboard, idetail, iuser, rating, answer0, answer1, answer2, answer3, gender, tall
        , weight, ctnt, prom_agree_flag, inf_agree_flag
        )
        VALUES
        (
            ${iboard}, ${idetail}, ${iuser}, ${rating}, ${answer0}, ${answer1}, ${answer2}, ${answer3}
            , ${gender}, #{tall}, #{weight}, #{ctnt}, ${prom_agree_flag}, ${inf_agree_flag}
        )
    </insert>

    <insert id="insOrder">
        INSERT INTO t_order
        (
            oname, oemail, ofirsthnum, osecondhnum, othirdhnum, ofirstph, osecondph,
            othirdph, opost_num, oload_nm, olot_addr, odetail_addr, oref,
            rname, rpost_num, rload_nm, rlot_addr, rdetail_addr, rref, rfirsthnum,
            rsecondhnum, rthirdhnum, rfirstph, rsecondph, rthirdph,
            msg, pay_method, payagent_agree_flag, buy_date
        )
        VALUES
        (
            #{oname}, #{oemail}, #{ofirsthnum}, #{osecondhnum}, #{othirdhnum},
            #{ofirstph}, #{osecondph}, #{othirdph}, #{opost_num}, #{oload_nm},
            #{olot_addr}, #{odetail_addr}, #{oref},
            #{rname}, #{rpost_num}, #{rload_nm}, #{rlot_addr}, #{rdetail_addr}, #{rref},
            #{rfirsthnum}, #{rsecondhnum}, #{rthirdhnum}, #{rfirstph},
            #{rsecondph}, #{rthirdph}, #{msg}, ${pay_method},
            #{payagent_agree_flag}, #{buy_date}
        )
    </insert>

    <select id="selUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE
        <if test=" uid != null and uid != '' "> uid = #{uid} </if>
        <if test=" iuser > 0 "> iuser = ${iuser} </if>
        <if test=" email != null and email != '' "> email = #{email} </if>
    </select>

    <select id="selMdUser" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE
        <if test=" iuser > 0 "> iuser = ${iuser} </if>
    </select>

    <select id="selSocial" resultType="UserEntity">
        SELECT * FROM t_user
        WHERE email = #{email}
        AND social = #{social}
    </select>

    <select id="selReview" resultType="int">
        SELECT *
        FROM t_user_review
        WHERE iuser = ${iuser}
        AND idetail = ${idetail}
    </select>

    <update id="updUserPw">
        UPDATE t_user
        SET
        <if test=" upw != null and upw != '' ">
            upw = #{upw}
        </if>
        WHERE iuser = ${iuser}
    </update>

    <select id="checkedCart" resultType="BoardProductVo">
        SELECT A.sm, A.md, A.lg, A.xl, A.color, A.iboard, A.icart, A.checked, A.idetail, B.iuser, C.img_url_big, C.title, C.price
        FROM cart A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        INNER JOIN product_list C
        ON A.iboard = C.iboard
        WHERE B.iuser = ${iuser} AND A.checked = 1
    </select>

    <select id="selPurchased" resultType="BoardProductVo">
        SELECT A.sm, A.md, A.lg, A.xl, A.iboard, B.iuser, C.img_url_big, C.title, C.price
        FROM purchased A
                 INNER JOIN t_user B
                            ON A.iuser = B.iuser
                 INNER JOIN product_list C
                            ON A.iboard = C.iboard
        WHERE B.iuser = ${iuser}
    </select>

    <select id="selPurchased2" resultType="BoardProductVo">
        SELECT A.sm, A.md, A.lg, A.xl, A.iboard, A.idetail, A.color, B.iuser, C.img_url_big, C.title, C.price
        FROM purchased A
                 INNER JOIN t_user B
                            ON A.iuser = B.iuser
                 INNER JOIN product_list C
                            ON A.iboard = C.iboard
        WHERE B.iuser = ${iuser}
    </select>


    <update id="updProductDetail">
        UPDATE product_detail
        <if test=" sm != null and sm !=0 ">SET sm = sm - ${sm}</if>
        <if test=" md != null and md !=0 ">SET md = md - ${md}</if>
        <if test=" lg != null and lg !=0 ">SET lg = lg - ${lg}</if>
        <if test=" xl != null and xl !=0 ">SET xl = xl - ${xl}</if>
        WHERE iboard = ${iboard} AND color = ${color}
    </update>

</mapper>