@charset "UTF-8";

* { margin: 0; padding: 0; box-sizing: border-box; font: 0.95em 'Roboto Condensed','Nanum Gothic',sans-serif,Dotum,AppleGothic,sans-serif; scroll-behavior: smooth; }

body { width: 100%; padding-right: 0!important; overflow: inherit!important; }
ul, ol, li { list-style: none; margin-bottom: 0; padding-left: 0; }
a { text-decoration: none; }
label { width: 100%; }
th, td { margin : 10px 5px 20px 0; font-size: 14px;}
textarea { resize: none; }



.bold { font-weight: bold; }
.display-b { display: block; }
.bolder {border : 1px solid #c1c1c1; width: 140px; font-size: 12px; padding: 2px; }
.bolder-p {border : 1px solid #c1c1c1; width: 70px; font-size: 12px; padding: 2px; }
.bolder-a {border : 1px solid #c1c1c1; width: 280px; font-size: 12px; padding: 2px; }
.bolder-c {border : 1px solid #c1c1c1; font-size: 12px; padding: 2px; }
.bolder-s {border : 1px solid #2b2b2b; width: 280px; font-size: 12px; padding: 2px; }
.b-radius { border-radius: 3px; }

.bc-white { background-color: #ffffff; }
.bc-black { background-color: #000000; }
.bc-gray { background-color: #808080; }
.bc-yellow { background-color: #fff000; }
.bc-red { background-color: #ff0000; }
.bc-blue { background-color: #000fff; }


.color-white { color: #ffffff; }
.color-black { color: #000000; }
.color-light-black { color: #353535; }
.color-gray { color: #808080; }
.color-silver { color: #c0c0c0; }
.color-light-gray { color: #cccccc; }
.color-red { color: #ff0000; }
.color-yellow { color: #fff000; }
.color-gold { color: #FFD700; }
.color-pink { color: #FFC0CB; }
.color-hot-pink { color: #FF69B4; }
.color-purple { color: #A020F0; }
.color-navy { color: #000080; }
.color-blue { color: #000fff; }
.color-sky { color: #00ffff; }
.color-green { color: #008000; }
.color-lime { color: #00ff00; }
.color-olive { color: #808000; }

.container-outer {width: 100%; }
.container-inner {width: 70%; display: inline-block;}

.display-b-f-l { display: block; float: left; }
.display-b-f-r { display: block; float: right; }
.display-i-b { display: inline-block }

.font-family-serif { font-family: Serif; }
.font-size-10 { font-size: 10px; }
.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 {font-size: 20px;}
.font-size-30 {font-size: 30px;}

.h-10 { height: 10px; }
.h-16 { height: 16px; }
.h-20 { height: 20px; }
.h-30 { height: 30px; }
.h-40 { height: 40px; }
.h-50 { height: 50px; }
.h-80 { height: 80px;}
.h-100 { height: 100px; }
.h-120 { height: 120px; }
.h-150 { height: 150px; }
.h-200 { height: 200px; }
.h-all { height: 100%; }
.h-vh { height: 100vh; }
.h-auto { height: auto; }

.hidden { display: none; }

.letter-spacing-0125rem { letter-spacing: 0.125rem; }

.m-w {min-width: 600px;}

.m-10 { margin: 10px; }
.m-20 { margin: 20px; }
.m-30 { margin: 30px; }
.m-t-10 { margin-top: 10px; }
.m-t-20 { margin-top: 20px; }
.m-t-30 { margin-top: 30px; }
.m-r-10 { margin-right: 10px; }
.m-r-20 { margin-right: 20px; }
.m-r-30 { margin-right: 30px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-15 { margin-bottom: 15px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-30 { margin-bottom: 30px; }
.m-l-5 { margin-left: 5px; }
.m-l-10 { margin-left: 10px; }
.m-l-20 { margin-left: 20px; }
.m-l-30 { margin-left: 30px; }
.m-l-40 { margin-left: 40px; }
.m-lr-10 { margin: 0 10px; }
.m-lr-20 { margin: 0 20px; }
.m-lr-30 { margin: 0 30px; }
.m-lr-40 { margin: 0 40px; }
.m-tb-10 { margin: 10px 0; }
.m-tb-20 { margin: 20px 0; }
.m-tb-20 { margin: 30px 0; }

.p-10 { padding: 10px; }
.p-20 { padding: 20px; }
.p-30 { padding: 30px; }
.p-t-10 { padding-top: 10px; }
.p-t-20 { padding-top: 20px; }
.p-t-30 { padding-top: 30px; }
.p-r-10 { padding-right: 10px; }
.p-r-20 { padding-right: 20px; }
.p-r-30 { padding-right: 30px; }
.p-r-100 { padding-right: 100px; }
.p-b-10 { padding-bottom: 10px; }
.p-b-20 { padding-bottom: 20px; }
.p-b-30 { padding-bottom: 30px; }
.p-l-10 { padding-left: 10px; }
.p-l-20 { padding-left: 20px; }
.p-l-30 { padding-left: 30px; }
.p-lr-10 { padding: 0 10px; }
.p-lr-20 { padding: 0 20px; }
.p-lr-30 { padding: 0 30px; }
.p-tb-10 { padding: 10px 0; }
.p-tb-20 { padding: 20px 0; }
.p-tb-30 { padding: 30px 0; }

.pointer { cursor: pointer; }

.tx-a-center { text-align: center; }
.tx-a-left { text-align: left; }
.tx-a-right { text-align: right; }

.uppercase { text-transform: uppercase; }

.w-10 { width: 10px; }
.w-16 { width: 16px; }
.w-20 { width: 20px; }
.w-30 { width: 30px; }
.w-40 { width: 40px; }
.w-50 { width: 50px; }
.w-90 { width: 90px; }
.w-100 { width: 100px; }
.w-120 { width: 120px; }
.w-140 { width: 140px; }
.w-150 { width: 150px; }
.w-200 { width: 200px; }
.w-300 { width: 300px; }
.w-400 { width: 400px; }
.w-500 { width: 500px; }
.w-600 { width: 600px; }
.w-700 { width: 700px; }
.w-all { width: 100%; }
.w-vw { width: 100vw; }
.w-auto { width: auto; }
.w-100p { width: 100%; }
.w-90p { width: 90%; }
.w-80p { width: 80%; }
.w-70p { width: 70%; }
.w-60p { width: 60%; }
.w-50p { width: 50%; }
.w-40p { width: 40%; }
.w-30p { width: 30%; }
.w-20p { width: 20%; }
.w-10p { width: 10%; }