@charset "UTF-8";

/* header */
#header_wrap { position: fixed; top: 0; height: 50px; width: 100%; z-index: 99; text-align: center; }
#header { font-size: 30px; margin: 20px 0; text-transform: uppercase; }
#header a { color: #353535; }

/* header menu */
#menu_wrap { position: relative; }
#menu_wrap > div { display: inline-block; font-size: 14px; }
#menu_wrap > div:nth-child(1) { margin: 0; }
#menu_wrap > div a { transition: 0.45s; }
#menu_wrap > div a:hover { color: #cccccc; }

/* header submenu */
#submenu_wrap { position: absolute; left: 20px; top: 30px;  font-size: 18px; }

.offcanvas-start { width: 300px; }
#offcanvas_submenu_body { text-align: left;!important; }
#offcanvas_submenu_body div { margin: 10px 0 0 1.5rem; }
#offcanvas_submenu_body div a { transition: 0.75s; }
#offcanvas_submenu_body div a:hover { border-bottom: 1px solid #353535; }

#mypage_wrap { padding: 1.5rem; }
#mypage_wrap span { font-size: 13px; margin-right: 15px; }

/* header search */
#offcanvasTop { padding: 0 100px; }
#offcanvas_search_header { justify-content: flex-end;!important; }
#search_frm { display: flex; justify-content: center; align-items: center; }
#search_input { width: 50%; display: inline-block; border-top: 0; border-left: 0;
                border-right: 0; border-bottom: 1.5px solid #525252; border-radius: 0.5px; }
#search_submit { margin-left: 0.75rem; color: #fff; padding: 7px 10px;
                 border: 0; border-radius: 0.25rem; background: linear-gradient(160deg,#44cbd4,#2881ef); }
#search_submit:hover { background: linear-gradient(106deg,#6d44d4,#2881ef); }
.search_press { font-size: 16px; font-weight: 500; text-transform: capitalize; margin-top: 0.5rem; }

/* main body */
#wrap{ position: relative; padding: 130px 0; clear: both; }
#container { max-width: 100%; }
#contents { width: 80%; margin: 0 auto; min-height: calc(100vh - 300px); }

/* footer */
#footer_wrap {
    position: relative; bottom: 0; padding-bottom: 20px; width: 100%;
    margin: 150px auto 0; clear: both; color: #525252; z-index: 1;
}
#footer { display: flex; align-items: center; justify-content: center; }
#footer div { width: 100%; }
#footer div ul { padding: 0; display: flex; align-items: center; justify-content: center; }
#footer div ul li { float: left; margin: 0 10px; }

#footer div #sns li a { display: block; }
#footer div #sns li a img { width: 30px; height: 30px; }

#footer div #f_menu { clear: both; }
#footer div #f_menu li a { display: block; color: #353535; font-size: 13px; text-transform: uppercase; transition: 0.45s }
#footer div #f_menu li a:hover { color: #cccccc; }

#footer div p { text-align: center; }
#footer div p span { color: #727272; }
#footer div p span a { color: #353535; font-weight: bold; }