table {
    width: 100%;
    border-top: 2px solid #a7a7a7;
    border-bottom: 2px solid #a7a7a7;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #cecece;
    padding: 10px;
}

tr:first-child {
    border-bottom: 2px solid #a7a7a7;
}

.record {
    cursor: pointer;
}

.record:hover {
    background-color: #cdcdcd;
}