@charset "UTF-8";

/* all */
#main_wrap{
    width: 100%;
}

/* slide show */
#slider_wrap{
    color: #fff;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    text-shadow: rgba(0,0,0,0.7) 2px 2px 2px;
    border-radius: 5px;
}

#slider_wrap > ul#slider{
    position: absolute;
    top: 0;
    left: 0;
}

#slider_wrap > ul#slider > .slider_item{
    float: left;
    position: relative;
    width: 500px;
    height: 500px;
}
#slider_wrap > ul#slider > .slider_item div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.slider_item:nth-child(1){ background: url("https://image.msscdn.net/images/goods_img/20190319/987149/987149_3_500.jpg") center no-repeat; }
.slider_item:nth-child(2){ background: url("https://image.msscdn.net/images/goods_img/20181025/890749/890749_2_500.jpg") center no-repeat; }
.slider_item:nth-child(3){ background: url("https://image.msscdn.net/images/goods_img/20180911/855195/855195_2_500.jpg") center no-repeat; }
.slider_item:nth-child(4){ background: url("https://image.msscdn.net/images/goods_img/20200904/1584097/1584097_3_500.jpg") center no-repeat; }
.slider_item:nth-child(5){ background: url("https://image.msscdn.net/images/goods_img/20200814/1549284/1549284_1_500.jpg") center no-repeat; }
.slider_item:nth-child(6){ background: url("https://image.msscdn.net/images/goods_img/20211111/2227529/2227529_1_500.jpg") center no-repeat; }
.slider_item:nth-child(7){ background: url("https://image.msscdn.net/images/goods_img/20220119/2315076/2315076_6_500.jpg") center no-repeat; }
.slider_item:nth-child(8){ background: url("https://image.msscdn.net/images/goods_img/20161024/434861/434861_6_500.jpg") center no-repeat; }
.slider_item:nth-child(9){ background: url("https://image.msscdn.net/images/goods_img/20220113/2306094/2306094_1_500.jpg") center no-repeat; }


/* 컨트롤 버튼 */
.btns{
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
    z-index: 100;
    transition: all 0.1s ease;
}

.btns:hover{
    background-color:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#prev{left:-50px; border-radius:0px 7px 7px 7px;}

#counter{
    top: 30px;
    right:35px;
    width:auto;
    position:absolute;
}
#slider_wrap.active #next{right:0;}
#slider_wrap.active #prev{left:0;}


/* 컨트롤 바 */
#pagination_wrap{
    min-width:20px;
    margin-top:450px;
    margin-left: auto;
    margin-right: auto;
    height:15px;
    position:relative;
    text-align:center;
}

#pagination_wrap ul {
    width: 100%;
}

#pagination_wrap ul li{
    margin: 0 4px;
    display: inline-block;
    width:5px;
    height:5px;
    border-radius:50%;
    background:#fff;
    opacity:0.5;
    position:relative;
    top:0;
}

#pagination_wrap ul li.active{
    width:12px;
    height:12px;
    top:3px;
    opacity:1;
    box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}

/* 슬라이드 애니메이션 */
#slider_wrap ul, #pagination_wrap ul li{
    transition: all 0.7s;
}