@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* all */
#main_wrap{ width: 100%; }
#main_wrap > h1{ margin: 20px 0; color: #525252; text-align: center; text-transform: capitalize; font-family: 'Lobster', cursive; opacity: 0; }

/* slide show */
#slider_wrap{ color: #000; margin: 0 auto; width: 500px; height: 500px;
    position: relative; overflow: hidden; text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 2px; border-radius: 5px; }
#slider_wrap > #slider{ position: absolute; top: 0; left: 0; }
#slider_wrap > #slider > .slider_item{ float: left; width: 500px; height: 500px; }
#slider_wrap > #slider > .slider_item div{ min-width: 100%; }

/* slide background image */
.slider_item:nth-child(1){ background: url("https://image.msscdn.net/images/goods_img/20190319/987149/987149_3_500.jpg") center no-repeat; }
.slider_item:nth-child(2){ background: url("https://image.msscdn.net/images/goods_img/20181025/890749/890749_2_500.jpg") center no-repeat; }
.slider_item:nth-child(3){ background: url("https://image.msscdn.net/images/goods_img/20220214/2358388/2358388_3_500.jpg") center no-repeat; }
.slider_item:nth-child(4){ background: url("https://image.msscdn.net/images/goods_img/20200904/1584097/1584097_3_500.jpg") center no-repeat; }
.slider_item:nth-child(5){ background: url("https://image.msscdn.net/images/goods_img/20200814/1549284/1549284_1_500.jpg") center no-repeat; }
.slider_item:nth-child(6){ background: url("https://image.msscdn.net/images/goods_img/20211111/2227529/2227529_1_500.jpg") center no-repeat; }
.slider_item:nth-child(7){ background: url("https://image.msscdn.net/images/goods_img/20220119/2315076/2315076_6_500.jpg") center no-repeat; }
.slider_item:nth-child(8){ background: url("https://image.msscdn.net/images/goods_img/20161024/434861/434861_6_500.jpg") center no-repeat; }
.slider_item:nth-child(9){ background: url("https://image.msscdn.net/images/goods_img/20220113/2306094/2306094_1_500.jpg") center no-repeat; }
.slider_item:nth-child(10){ background: url("https://image.msscdn.net/images/goods_img/20220211/2354169/2354169_1_500.jpg") center no-repeat; }


/* 컨트롤 버튼 */
.btns{ position: absolute; width: 50px; height: 60px; top: 50%; margin-top: -25px; line-height: 57px;
    text-align: center; cursor: pointer; background-color: rgba(0,0,0,0.5); z-index: 100;
    transition: all 0.1s ease; }
.btns:hover{ background-color:rgba(0,0,0,0.3); }

#next{ right: -50px; border-radius: 7px 0 0 7px; }
#prev{ left: -50px; border-radius: 0 7px 7px 0; }
#next i, #prev i { font-size: 14px; color: #fff; }

#counter{ position: absolute; top: 30px; right: 35px; }

#slider_wrap.active #next{ right: 0; }
#slider_wrap.active #prev{ left: 0; }

/* 컨트롤 바 */
#pagination_wrap{ margin: 450px auto 0; text-align: center; }
#pagination_controller li{ margin: 0 4px; display: inline-block; width: 8px; height: 8px;
    border-radius: 50%; background: #ffffff; opacity: 0.5; position: relative; top: 0; }
#pagination_controller li.active{ width: 15px; height: 15px; top: 3px; opacity: 1; box-shadow: rgba(0,0,0,0.1) 1px 1px 0px; }

/* 슬라이드 애니메이션 */
#slider_wrap ul, #pagination_wrap ul li{ transition: all 0.75s; }
