
#detail_container { display: grid; grid-template-columns: repeat(auto-fill, minmax(700px, 1fr)); }
#detail_img_wrap { text-align: center; width: 100%; }
#detail_img_wrap img { width: 80%; border-radius: 3px; }
#detail_wrap { width: 100%; margin: 20px 0 0 20px; }

/*@media screen and (max-width: 900px){*/
/*    #detail_container { grid-template-columns: auto; }*/
/*}*/

#detail_table { width: 100%; border-top: 2px solid #a7a7a7;
    border-bottom: 2px solid #a7a7a7; border-collapse: collapse; }
th, td { padding: 10px; }
th { border-bottom: 1px solid #cecece; border-right: 1px solid #cecece; letter-spacing: 0.525rem; font-size: 14px; }
td { border-bottom: 1px solid #cecece; font-size: 12px; }

#detail_box_wrap { font-size: 14px; margin: 10px 0; }
#detail_box_wrap select{ width: 150px; height: 30px; cursor: pointer;
    background-color: #353535; color: #fff; border-radius: 3px; }
#detail_box_wrap select:hover { opacity: 0.75; transition: 0.3s; }
#frmSubmit input[type=submit]{ border-radius: 5px; padding: 10px;
    background-color: #353535; color: #fff; margin: 10px 0; }
#frmSubmit input[type=submit]:hover { opacity: 0.75; transition: 0.3s; }

.selected_item { height: 3rem; font-size: 14px; display: flex; align-items: center; position: relative; }
.selected_item > .selected_color, .selected_size, .selected_price { letter-spacing: 0.125rem; padding: 0 30px; }
.selected_item > .selected_price { position: absolute; left: 350px; }
.price_total { font-size: 16px; position: absolute; right: 0; padding-top: 20px; }
.selected_item > .increase_plus, .increase_minus
{ border: 0; border-radius: 50%; background: #333; color: #fff;
    width: 25px; height: 25px; font-size: 20px; display: flex; justify-content: space-around;
    flex-direction: row-reverse; align-items: flex-end; }
.selected_item > .increase_plus { position: absolute; right: 30px; }
.selected_item > .increase_minus { position: absolute; right: 130px; }
.selected_item > .increase_num { position: absolute; right: 60px; padding: 0 30px; }
.selected_item > .increase_btn:hover { opacity: 0.75; transition: 0.3s; }
.selected_item > .remove_btn { position: absolute; right: 0; border: 0; background: none; font-size: 20px; }
.selected_item > .remove_btn:hover { opacity: 0.75; transition: 0.3s; }

#allPrice { font-size: 1.4rem; text-align: right; text-transform: capitalize; letter-spacing: 0.125rem; line-height: 3; }
#allPrice:after { content: " 원"; }

/* review */

#review_container { margin-top: 30px; border-top: 1px solid #cccccc; }
#review_container:last-child { border-bottom: 1px solid #cccccc; }
#review_container > div { margin: 20px; }

#review_profile {  }
#review_profile div { margin: 0 20px; }
#review_profile > #review_username {  }
#review_profile > #review_tall_weight { color: #808080; font-size: 0.75rem; }

#review_information { display: flex; }
#review_information > div {  }
#review_information > #review_img { margin-left: 20px; width: 50px; border-radius: 5px; overflow: hidden; display: inline-block; }
#review_information > #review_img img { width: 100%; }
#review_information > #review_title_color_size { margin-left: 15px; }
#review_information > #review_title_color_size > #review_title { font-size: 18px; padding-bottom: 10px; }
#review_information > #review_title_color_size span { font-size: 13px; padding: 5px; color: #ffffff; background-color: #525252; border-radius: 5px; }

#review_rating, #review_ctnt { padding: 0 20px; font-size: 1rem; }

/*레이팅*/
ul, li {
    padding-bottom: 20px;
    padding-right: 20px;

}

li {

}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: space-around;
    padding: 0 0.2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2.3px;
    -webkit-text-stroke-color: #2b2a29;
    /*cursor: ;*/
}

.star-rating label {
    -webkit-text-fill-color: gold;
}

/*.star-rating label:hover,*/
/*.star-rating label:hover ~ label {*/
/*    -webkit-text-fill-color: #fff58c;*/
/*}*/

div.radio-wrap {
    display: inline-flex;
    align-items: center;
}

input[type=radio]{
    background-color: #FFFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 16px;
    border: 1px solid rgb(216, 216, 216);
    width: 14px;
    height: 14px;
    border-radius: 100%;
}
input[type=radio]:checked{
    background-color: rgb(25, 118, 248);
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-left: 16px;
    border: none;
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.select {
    display: inline-block;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: none;
    height: 24px;
    width: 90px;
    border: 1px solid #333;
    line-height: 24px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}