@charset "UTF-8";
/* 디바이스별 미디어 쿼리 적용 (꼭 필요할 때 다시 쓸거) */
/*

@media screen and (min-width: 320px){
    #product_item_grid {
        display: grid; grid-template-columns: repeat(1, minmax(100%, auto));
    }
}
@media screen and (min-width: 400px){
    #product_item_grid {
        display: grid; grid-template-columns: repeat(1, minmax(200px, auto));
    }
    #product_item_grid > a > div {  }
}
@media screen and (min-width: 425px){
    #product_item_grid {
        display: grid; grid-template-columns: repeat(2, minmax(50%, auto));
    }
}
@media screen and (min-width: 768px){
    #product_item_grid {
        display: grid; grid-template-columns: repeat(3, minmax(33.333%, auto));
    }
}
@media screen and (min-width: 1024px){
    #product_item_grid {
        display: grid; grid-template-columns: repeat(4, minmax(25%, auto));
    }
}
@media screen and (min-width: 1440px){
    #product_item_grid {
        display: grid; grid-template-columns: repeat(5, minmax(20%, auto));
    }
}
*/

#product_list {
    display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

#product_list p { text-align: left; font-size: 0.8rem; margin: 6px 0 0 6px!important; }
#product_item_link { color: #353535; box-shadow: 2px 2px 3px #ccc; border-radius: 5px; overflow: hidden; }
#product_item_link > img { width: 100%; height: 75%; margin-bottom: 10px; }

#page_container { width: 100%; }
#pagingul { height: 50px; }

.pageInfo_wrap {
    list-style : none;
    display: inline-block;
    margin: 50px 0 0 100px;
}
.pageInfo_area>li {
    float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
}
a:link {color:black; text-decoration: none;}
a:visited {color:black; text-decoration: none;}
a:hover {color:black; text-decoration: underline;}